#root {
  margin: 0 auto;
  min-width: 330px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100vh;
}

header {
  flex: 0 0 64px;
  background-color: #1f2328;
  font-weight: 600;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 0 20px;
  color: #fff;
}
header nav.header-nav__desktop {
  display: flex;
  gap: 20px;
}
header nav.header-nav__desktop a:hover {
  color: rgba(255, 255, 255, 0.7);
}
header nav.header-nav__desktop a.active {
  color: #7e85fe;
}
header .header-logo {
  flex: 0 0 100px;
}
header .header-user {
  flex: 1 1 auto;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}
header .header-user button {
  background-color: #2d3172;
  color: #fff;
}
header .header-user button a:hover {
  color: inherit;
}
header .header-burger {
  display: none;
  background-color: inherit;
  padding: 5px;
}
header nav.header-nav__mobile {
  display: none;
  position: absolute;
  background-color: inherit;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  gap: 30px;
  padding-left: 30px;
  padding-top: 30px;
  font-size: 22px;
}
header nav.header-nav__mobile a:hover {
  color: rgba(255, 255, 255, 0.7);
}
header nav.header-nav__mobile a.active {
  color: #7e85fe;
}

footer {
  flex: 0 0 64px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 20px;
  word-break: normal;
  text-align: center;
}

main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  align-self: center;
  max-width: 1200px;
  box-sizing: border-box;
  padding: 0 20px;
}

@media (prefers-color-scheme: dark) {
  header {
    background-color: #1a1a1a;
  }
}
@media (max-width: 610px) {
  header .header-user div {
    display: none;
  }
}
@media (max-width: 490px) {
  header nav.header-nav__desktop {
    display: none;
  }
  header .header-burger {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header nav.header-nav__mobile {
    display: flex;
  }
}
.search {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.search label {
  flex: 1 0 300px;
}
.search div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.search div input {
  flex: 1 0 auto;
}
.search-button__send {
  width: 175px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 32px;
  gap: 5px;
}
.search-button__send div:first-child {
  width: auto;
}
.search-button__send div:last-child {
  width: auto;
}

@media (prefers-color-scheme: dark) {
  .search-button-send path {
    stroke: #fff;
  }
}
@media (max-width: 940px) {
  .search-button-send {
    display: none;
  }
}
@media (max-width: 800px) {
  .search {
    flex-direction: column;
  }
  .search label {
    flex: 1 1 auto;
  }
}
@media (max-width: 430px) {
  .search div {
    flex-direction: column;
  }
  .search div input {
    width: calc(100% - 40px);
  }
}
.user-repositories {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.user-repositories__title {
  font-size: 18px;
}
.user-repositories__title span {
  font-weight: 700;
}
.user-repositories__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.repo-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.repo-item__title {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 5px 10px;
  font-weight: 600;
}
.repo-item__content {
  padding: 10px 10px;
}
.repo-item__content p {
  margin-bottom: 5px;
}
.repo-item__content p:last-child {
  margin-bottom: 0;
}
.repo-item__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  padding: 5px 10px;
}
.repo-item__link a {
  color: #454eff;
}

@media (prefers-color-scheme: dark) {
  .repo-item {
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  .repo-item__title {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  .repo-item__link {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }
}
.single-title {
  text-align: center;
}
.single-title span {
  font-weight: 700;
}

.single-repo {
  width: 100%;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  line-height: 30px;
}
.single-repo__item {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  min-height: 50px;
}
.single-repo__item div:first-child {
  flex: 0 0 200px;
  background-color: rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
.single-repo__item div:last-child {
  width: auto;
  flex: 1 1 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}
.single-repo__item-photo img {
  margin: 10px 0;
  width: 100px;
  height: 100px;
  border-radius: 8px;
}
.single-repo__item a {
  word-break: break-all;
}
.single-repo__item:last-child {
  border-bottom: none;
}
@media (prefers-color-scheme: dark) {
  .single-repo {
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  .single-repo__item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  .single-repo__item div:first-child {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
  }
}
@media (max-width: 850px) {
  .single-repo__item div:first-child {
    flex: 0 0 100px;
  }
}
@media (max-width: 420px) {
  .single-repo__item {
    flex-direction: column;
  }
  .single-repo__item div:first-child {
    flex: 1 1 auto;
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
}
@media (max-width: 420px) and (prefers-color-scheme: dark) {
  .single-repo__item div:first-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}

.pagination-rest {
  width: 100%;
  justify-content: center;
  display: flex;
  gap: 20px;
}
.pagination-rest button {
  min-width: 60px;
}
.pagination-rest button.active {
  color: #5e66f9;
  background-color: rgba(73, 82, 255, 0.123);
}
@media (max-width: 939px) {
  .pagination-rest {
    justify-content: space-between;
    gap: 10px;
  }
  .pagination-rest button {
    min-width: 50px;
  }
}
@media (max-width: 780px) {
  .pagination-rest {
    gap: 5px;
  }
  .pagination-rest button {
    padding: 10px 10px;
    min-width: 40px;
  }
}
@media (max-width: 550px) {
  .pagination-rest button {
    display: none;
  }
  .pagination-rest .navigation {
    display: block;
    width: inherit;
  }
  .pagination-rest .active {
    display: block;
  }
}

.pagination-graph {
  width: 100%;
  justify-content: center;
  display: flex;
  gap: 20px;
}
.pagination-graph button {
  min-width: 60px;
}
.pagination-graph button.active {
  color: #5e66f9;
  background-color: rgba(73, 82, 255, 0.123);
}
.pagination-graph__next {
  width: 120px;
  display: flex;
  gap: 5px;
  padding-left: 40px;
}
.pagination-graph__back {
  width: 120px;
  display: flex;
  gap: 5px;
  padding-right: 40px;
  justify-content: flex-end;
}
@media (max-width: 720px) {
  .pagination-graph {
    justify-content: space-between;
    gap: 10px;
  }
  .pagination-graph button {
    min-width: 50px;
  }
}
@media (max-width: 610px) {
  .pagination-graph {
    gap: 10px;
  }
  .pagination-graph button {
    min-width: 40px;
  }
  .pagination-graph__next {
    width: 80px;
    padding-left: 15px;
  }
  .pagination-graph__back {
    width: 80px;
    padding-right: 15px;
  }
}
@media (max-width: 500px) {
  .pagination-graph button {
    padding: 10px 10px;
    min-width: 40px;
  }
  .pagination-graph__next {
    width: 70px;
    padding-left: 15px;
  }
  .pagination-graph__back {
    width: 70px;
    padding-right: 15px;
  }
}
@media (max-width: 440px) {
  .pagination-graph {
    gap: 10px;
  }
  .pagination-graph button {
    display: none;
  }
  .pagination-graph .active {
    display: block;
  }
  .pagination-graph .pagination-graph__next {
    display: flex;
    width: inherit;
    padding-left: 40px;
  }
  .pagination-graph .pagination-graph__back {
    display: flex;
    width: inherit;
    padding-right: 40px;
  }
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
}
.settings form {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.settings form label {
  flex: 0 1 50%;
  text-align: end;
}
.settings form div {
  flex: 1 0 auto;
  min-width: 300px;
  display: flex;
  gap: 10px;
}
.settings form input {
  flex: 0 1 200px;
  min-width: 70px;
  box-sizing: border-box;
}
.settings form select {
  flex: 0 1 200px;
  min-width: 70px;
  box-sizing: border-box;
}
.settings form button {
  flex: 0 0 100px;
}
@media (max-width: 1100px) {
  .settings form {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .settings form label {
    text-align: center;
  }
}

.loader-image {
  display: inline;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 12px;
  animation: spin 1s linear 0s infinite;
}
.loader-image path {
  stroke: #1a1a1a;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-color-scheme: dark) {
  .loader-image path {
    stroke: #fff;
  }
}/*# sourceMappingURL=App.css.map */