#root {
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100vh;
}

header {
  flex: 0 0 64px;
  background-color: #1f2328;
  font-weight: 600;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 0 20px;
  color: #fff;
}
header nav.header-nav__desktop {
  display: flex;
  gap: 20px;
}
header nav.header-nav__desktop a:hover {
  color: rgba(255, 255, 255, 0.7);
}
header nav.header-nav__desktop a.active {
  color: #7e85fe;
}
header .header-logo {
  flex: 0 0 100px;
}
header .header-user {
  flex: 1 1 auto;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}
header .header-user button {
  background-color: #2d3172;
  color: #fff;
}
header .header-user button a:hover {
  color: inherit;
}
header .header-burger {
  display: none;
  background-color: inherit;
  padding: 5px;
}
header nav.header-nav__mobile {
  display: none;
  position: absolute;
  background-color: inherit;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  gap: 30px;
  padding-left: 30px;
  padding-top: 30px;
  font-size: 22px;
}
header nav.header-nav__mobile a:hover {
  color: rgba(255, 255, 255, 0.7);
}
header nav.header-nav__mobile a.active {
  color: #7e85fe;
}

footer {
  flex: 0 0 64px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  align-self: center;
  max-width: 1200px;
  box-sizing: border-box;
  padding: 0 20px;
}

@media (prefers-color-scheme: dark) {
  header {
    background-color: #1a1a1a;
  }
}
@media (max-width: 610px) {
  header .header-user div {
    display: none;
  }
}
@media (max-width: 490px) {
  header nav.header-nav__desktop {
    display: none;
  }
  header .header-burger {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header nav.header-nav__mobile {
    display: flex;
  }
}
.search {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.search label {
  flex: 1 0 300px;
}
.search div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.search div input {
  flex: 1 0 auto;
}
.search div-button-send {
  width: 175px;
  display: flex;
  padding-left: 32px;
  gap: 5px;
}

@media (prefers-color-scheme: dark) {
  .search-button-send path {
    stroke: #fff;
  }
}
@media (max-width: 940px) {
  .search-button-send {
    display: none;
  }
}
@media (max-width: 800px) {
  .search {
    flex-direction: column;
  }
  .search label {
    flex: 1 1 auto;
  }
}
@media (max-width: 430px) {
  .search div {
    flex-direction: column;
  }
  .search div input {
    width: calc(100% - 40px);
  }
}
.user-repositories {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.user-repositories__title {
  font-size: 18px;
}
.user-repositories__title span {
  font-weight: 700;
}
.user-repositories__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.repo-item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.repo-item__title {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 5px 10px;
  font-weight: 600;
}
.repo-item__content {
  padding: 10px 10px;
}
.repo-item__content p {
  margin-bottom: 5px;
}
.repo-item__content p:last-child {
  margin-bottom: 0;
}
.repo-item__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  padding: 5px 10px;
}
.repo-item__link a {
  color: #454eff;
}

@media (prefers-color-scheme: dark) {
  .repo-item {
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  .repo-item__title {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}
.single-title {
  margin-bottom: 20px;
}
.single-title span {
  font-weight: 700;
}

.single-repo {
  width: 100%;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.single-repo__name {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr;
  height: 50px;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.single-repo__name div {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}
.single-repo__name div:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.1);
}
.single-repo__name div:last-child {
  border-right: none;
}
.single-repo__author {
  display: grid;
  grid-template-columns: 4fr 2fr;
  height: 150px;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.single-repo__languages {
  display: grid;
  grid-template-columns: 1fr 5fr;
  min-height: 50px;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.single-repo__languages div {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
}
.single-repo__languages div:first-child {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.1);
}
.single-repo__description {
  display: grid;
  grid-template-columns: 1fr 5fr;
  min-height: 50px;
  align-items: center;
}
.single-repo__description div {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
}
.single-repo__description div:first-child {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.1);
}

.author-info {
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}
.author-info__commit {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 50px;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.author-info__commit div {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.author-info__commit div:first-child {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.1);
}
.author-info__name {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 50px;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.author-info__name div {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.author-info__name div:first-child {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.1);
}
.author-info__link {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  box-sizing: border-box;
  height: 50px;
}
.author-info__link div {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.author-info__link div:first-child {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.1);
}
.author-photo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}
.author-photo div {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.author-photo div:first-child {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.1);
}
.author-photo__photo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.author-photo__photo img {
  width: 100px;
  height: 100px;
  border-radius: 8px;
}

.pagination {
  justify-content: center;
  display: flex;
  gap: 20px;
}
.pagination button {
  min-width: 60px;
}
.pagination button.active {
  color: #5e66f9;
  background-color: rgba(73, 82, 255, 0.123);
}
.pagination-next {
  width: 120px;
  display: flex;
  gap: 5px;
  padding-left: 40px;
}
.pagination-back {
  width: 120px;
  display: flex;
  gap: 5px;
  padding-right: 40px;
  justify-content: flex-end;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
}
.settings form {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.settings form label {
  flex: 0 0 450px;
  text-align: end;
}
.settings form input {
  flex: 0 1 200px;
  min-width: 70px;
  box-sizing: border-box;
}
.settings form select {
  flex: 0 1 200px;
  min-width: 70px;
  box-sizing: border-box;
}
.settings form button {
  flex: 0 0 100px;
}

.loader-image {
  display: inline;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 12px;
  animation: spin 1s linear 0s infinite;
}
.loader-image path {
  stroke: #1a1a1a;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-color-scheme: dark) {
  .loader-image path {
    stroke: #fff;
  }
}/*# sourceMappingURL=App.css.map */